.techs__content {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.techs__article {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.techs__article-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0;
  text-align: center;
}

.techs__article-paragraph {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.45;
  margin: 0;
  text-align: center;
}

.techs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding: 0 10px;
}

.techs-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 57px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  background-color: #E8E8E8;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .techs__article-title {
    font-size: 50px;
    line-height: 1.16;
  }

  .techs__article-paragraph {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media (min-width: 1280px) {
  .techs__article-paragraph {
    font-size: 14px;
    line-height: 1.42;
  }

  .techs-list__item {
    font-size: 14px;
    line-height: 1.22;
  }
}